<h1>{{ pager.getNbResults }} Search Results</h1>
<div class="sonata-blog-post-list">

    {% if type is defined %}
        {% set results = pager.getCurrentPageResults %}
        {#{% set highlight = results.getHighlighting %}#}
        {% for result in results %}
            {% set content= rz_search_render_lucene_result(type, result) %}
            {{  content | raw }}
        {% else %}
            {{ 'no_post_found'|trans({}, 'SonataNewsBundle') }}
        {% endfor %}
        {% if pager.haveToPaginate %}
            {{ pagerfanta(pager, 'rz_search_pagerfanta') }}
        {% endif %}
    {% else %}
        <h1>{{ type }} is not defined index!</h1>
    {% endif %}
</div>
