<h1>{{ pager.getNbResults }} Search Results</h1>

<div class="sonata-blog-post-list">
    {% set results = pager.getCurrentPageResults %}
    {% set highlight = results.getHighlighting %}
    {% if type is defined %}
        {% for result in results %}
            {% set content= rz_search_render_solr_result(type,result, highlight) %}
            {{  content | raw }}
        {% else %}
            {{ 'no_post_found'|trans({}, 'SonataNewsBundle') }}
        {% endfor %}
        {% if pager.haveToPaginate %}
            {{ pagerfanta(pager, 'rz_search_pagerfanta') }}
        {% endif %}
    {% else %}
        <h1>{{ type }} is not defined index!</h1>
    {% endif %}
</div>
